/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$color-navbar-items: #979797;
$page-background : #E3E3E3;
$button-color: #F58220;
$color-dark: #171717;
$color-light: #FFFFFF;


/* Font sizes */
$paragraph-font-size: 19px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$logo-font: "Satisfy", cursive;
