@media screen and (min-width: 1025px) and (max-width: 1253px) {
    .main__all-container {
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
      }
      .gen_cont {
        margin: 59px 18px 0 18px;
        width: 100%;
      }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__all-container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
  }
  .navi_top {
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  .gen_cont {
    margin: 59px 18px 0 18px;
    width: 100%;
  }

  .sidenav {
    display: none;
    font-size: 1.5vw;
    position: relative;
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
  }

  .links_main_cont {
    margin: 59px 18px 0 48px;
    width: 100%;
  }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  .gen_cont {
    width: 100%;
  }
  .links_main_cont {
    width: 100%;
  }
  .sidenav {
    display: none;
    font-size: 1.5vw;
    position: relative;
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .gen_cont {
    width: 100%;
    margin: 59px 18px 0 18px;
  }
  .links_main_cont {
    width: 100%;
  }
  .sidenav {
    display: none;
    font-size: 1.5vw;
    position: relative;
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
  }
}
