@media screen and (max-width: 767px) {
  .sidebar {
    position: fixed;
    z-index: 1;
  }

  .sidenav {
    height: 70px;
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: inherit;

    &.active {
      height: auto;
      position: inherit;
    }

    .navi_top {
      display: block;
    }
  }

  .navi_top {
    display: none;
  }

  .sidenav .navi_top {
    visibility: visible;
    bottom: 0;
    position: fixed;
    border-top: thin solid #e3e3e3;
    border-bottom: none;
    height: 60px;
    display: block;
  }

  // .nav_main_menu, .nav_manager{
  //     display: none;
  // }

  .gen_cont {
    // margin: 59px 18px 0 18px;
    margin: 0;
    width: 100%;
    height: 100%;
    // margin-top: 10%;
  }

  //   .gen_cont .page-header{
  //       margin-top: 0;
  //   }

  .table_options {
    width: 100%;
  }

  .chart_statistic {
    margin-top: -35px;
  }

  .chart_statistic h3 {
    width: 100%;
    padding-left: 10%;
    margin: 40px;
  }

  .chart_statistic img {
    width: 100%;
    margin: 0;
  }

  .signupss,
  .ftd,
  .earned {
    margin: 10px 10px;
  }

  .page-header {
    margin-top: 75px;
    padding-left: 15px;
    display: flex;
  }

  .page-title {
    padding: 5px;
  }

  .nav_header {
    padding: 10px;
  }

  .main_all_container .links_main_cont {
    margin: 0;
  }

  .links_main_cont .page-header {
    margin-top: 0;
  }

  .links_main_cont .main_links tr {
    display: table-footer-group;
    width: auto;
  }

  .links_tabs {
    width: auto;
  }

  .links_main_cont .new_btn_links {
    margin: 11px auto;
  }

  .main_all_container {
    overflow: hidden;
  }
  body {
    box-sizing: border-box;
    background: border-box;
  }

  body .banners_main_cont {
    display: none;
  }

  body .display_cont {
    display: none;
  }

  .menu_top{
      justify-content: space-around;
  }

  body i .navi_top{
      margin: 7px;
  }

  .menu_top .notification{
      margin-left: -1px;
  }

  .menu_top i {
      margin: 10px;
  }

  .menu_top_icon .user p{
      margin-left: 10px;
  }

   .menu_top_icon1 .wallet {
    border: none;
  }



//   .menu_top_icon1{


//     min-width: auto;

//   }
}

// .main_all_container .links_main_cont .page-header {
//     margin-top: 0;
// }

//   .navi_top_mobile {
//     background-color: white;
//     color: #979797;
//     width: 100%;
//     position: fixed;
//     z-index: 1;
//   }

//   .menu_top {
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-direction: row;
//         flex-direction: row;
//     -ms-flex-pack: end;
//         justify-content: flex-end;
//     height: 70px;
//     border-right: thin solid #e3e3e3;
//     border-bottom: thin solid #e3e3e3;
//   }

//   .mobile {
//     display: none;
//   }

//   .menu_top_icon2, .menu_top_icon4 {
//     border-left: thin solid #e3e3e3;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-align: center;
//         align-items: center;
//     -ms-flex-pack: center;
//         justify-content: center;
//     white-space: nowrap;
//     min-width: 70px;
//     cursor: pointer;
//   }

//   .menu_top_icon2, .menu_top_icon4 i {
//     margin: 0 10px;
//   }

//   .menu_top_icon1, .menu_top_icon3 {
//     border-left: thin solid #e3e3e3;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-align: center;
//         align-items: center;
//     -ms-flex-pack: center;
//         justify-content: center;
//     white-space: nowrap;
//     min-width: 210px;
//     cursor: pointer;
//   }

//   .menu_top_icon1, .menu_top_icon3 i {
//     margin: 0 10px;
//   }

//   .menu_top_icon1  h3 {
//     font-size: 20px;
//     font-weight: 700;
//   }
